# Env files
.env

# Local Docker stuff
docker

TO-DO.md
# Virtual environment
venv/
docker/dynamodb/shared-local-instance.db
backend-flask/.env.development
backend-flask/.env.production
frontend-react-js/.env.development
frontend-react-js/.env.production


# CloudFormation local deploy config
**/config.toml


aws/cfn/networking/config.toml

tmp/packaged-cicd-template.yaml
tmp/



aws/cruddur-serverless/samconfig.toml

_docs/diagramsignore/*