services:
  backend-flask:
    build:
      context: ./backend-flask
      dockerfile: Dockerfile.prod
    env_file:
      - ./backend-flask/.env.production
    ports:
      - "4567:4567"
    networks:
      - internal-network

networks:
  internal-network:
    driver: bridge
