.messages.content {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  flex: 1;
}

.message_feed {
  flex-grow: 1;
  overflow: auto;
  padding: 0;
  background: var(--bg);
}

.message_groups {
  width: 300px;
  border-right: 1px solid var(--border);
  background: var(--bg);
}

@media (max-width: 768px) {
  .message_groups {
    display: none;
  }

  .messages.content {
    border-left: none;
    border-right: none;
  }
}
