form.profile_form input[type='text'],
form.profile_form textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  display: block;
  resize: none;
  width: 100%;
  padding: 16px;
  border: solid 1px #333;
  background: #1a1a1a;
  color: #fff;
}

form.profile_form input[type='text']::placeholder,
form.profile_form textarea::placeholder {
  color: #888;
  opacity: 1;
}

.profile_popup .popup_content {
  padding: 16px;
}

form.profile_form .field.display_name {
  margin-bottom: 24px;
}

form.profile_form label {
  color: rgba(255,255,255,0.8);
  padding-bottom: 4px;
  display: block;
}

form.profile_form textarea {
  height: 140px;
}

form.profile_form input[type='text']:hover,
form.profile_form input[type='text']:focus,
form.profile_form textarea:hover,
form.profile_form textarea:focus {
  border: solid 1px #9500ff;
  outline: none;
}

.profile_popup button[type='submit'] {
  font-weight: 800;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  background: #9500ff;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.profile_popup button[type='submit']:hover {
  background: #7a00cc;
}